.HomePageAfterLogin {
  font-size: 1.2em;
}
#afterLoginNav {
  list-style-type: none;
}
#afterLoginNav li{
    display: inline-block;
}
#afterLoginNav li a{
    display: block;
    padding: 5px 10px;
}