.App {
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: 960px;
  margin: 0 auto;
}

.App__header {
  padding: 20px;
}

.App__main {
  margin-top: 20px;
}

.error:before {
  content: "*";
}
.error {
  color: yellow;
  background-color: red;
  padding: 5px;
}
