#postForm {
  display: flex;
  justify-content: center;
}
.postForm {
  max-width: 600px;
  margin: 0 auto;
}
#section,
#content,
#title {
  display: flex;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.1em;
}

#content {
  height: 150px;
  resize: none;
}
