.Header {
  height: 40px;
  display: flex;
  align-items: normal;
  justify-content: space-between;
}

.Header h1 {
  margin: 0;
  font-weight: bold;
}
#qovun {
  vertical-align: middle;
}

.Header h1 a {
  color: yellow;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.Header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
}


.Header__not-logged-in {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.Header__not-logged-in a:first-child,
 .Header__not-logged-in a:last-child,
 .Header__logged-in a {
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  border-radius: 25px;
  border: 2px solid white;
  font-weight: bold;
  margin-left: 10px;
}

.Header__not-logged-in a:first-child:hover, 
.Header__not-logged-in a:last-child:hover,
.Header__logged-in a:hover {
  color: black;
  background-color: white;
  transition: all 0.5s ease-in-out 0s
}

#about {
  margin: 20px 0 70px 0;
  font-size: 1.2em;
  color: rgb(130, 204, 45);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 490px) {
  .Header {
    vertical-align: middle;

  }
  .Header:first-child a {
    padding: 5px;
    border-radius: 3px;
    border: none;
    font-weight: normal;
  }
  .Header h1{
    font-size: 1em;
  }
  .Header__logged-in {
    margin: 0;
    padding-top: 10px;
  }
  #about {
    padding-top: 20px;
  }
}
