.Header {
  height: 40px;
  display: flex;
  align-items: normal;
  justify-content: space-between;
}

.Header h1 {
  margin: 0;
  font-weight: bold;
  font-size: 1em;
}
#qovun {
  vertical-align: middle;
}

.Header h1 a {
  color: yellow;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.Header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
}


.Header__not-logged-in {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.Header__not-logged-in a:first-child,
 .Header__not-logged-in a:last-child,
 .Header__logged-in a {
  padding: 5px 10px;
  border: 1px solid white;
  margin-left: 5px;
}

.Header__not-logged-in a:first-child:hover, 
.Header__not-logged-in a:last-child:hover,
.Header__logged-in a:hover {
  color: black;
  background-color: white;
  transition: all 0.5s ease-in-out 0s
}

.Header__not-logged-in a:first-child:focus, 
.Header__not-logged-in a:last-child:focus {
  background-color: white;
  color: black;
}

#about {
  margin: 20px 40px;
  font-size: 1.2em;
  color: rgb(148, 233, 233);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

